@model OrderDetail.Models.OrderTbl

 <div class="field-caption">
         @Html.DisplayNameFor(model => model.OrdNo):  <span class="field-value">@Html.DisplayFor(model => model.OrdNo)</span>
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.OrdDate):  @Html.DisplayFor(model => model.OrdDate)
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.CustNo):  @Html.DisplayFor(model => model.CustNo)
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.EmpNo):  @Html.DisplayFor(model => model.EmpNo)
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.OrdName):  @Html.DisplayFor(model => model.OrdName)
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.OrdStreet):  @Html.DisplayFor(model => model.OrdStreet)
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.OrdCity):  @Html.DisplayFor(model => model.OrdCity)
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.OrdState):  @Html.DisplayFor(model => model.OrdState)
    </div>

    <div class="field-caption">
         @Html.DisplayNameFor(model => model.OrdZip):  @Html.DisplayFor(model => model.OrdZip)
    </div>